{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head lang="es">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'base/lib/bootstrap/css/bootstrap.css' %}">

        <link rel="stylesheet" href="{% static 'panel/css/common.css' %}">
        <script src="{% static 'base/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Panel</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#">Dashboard</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Game list</a></li>
                            <li><a href="#">New game</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Category list</a></li>
                            <li><a href="#">New Category</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'base/js/vendor/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'base/lib/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'panel/js/main.js' %}"></script>
    </body>
</html>
