{% extends "panel/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h1>New Game</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}

            {% if field.label == 'File' %}
                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-10">
                            {{ field.label_tag }}
                            <input type="file" name="file">
                        </div>
                    </div>
                </div>

            {% elif field|widget_type == 'textinput' %}
                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-8">
                            {{ field.label_tag }}
                            {{ field | add_class:"form-control"  }}
                            {{ field.errors }}
                        </div>
                    </div>
                </div>

            {% elif field|widget_type == 'textarea' %}
                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-8">
                            {{ field.label_tag }}
                            {{ field | add_class:"form-control" | attr:"rows:4" | attr:"cols:20" }}
                            {{ field.errors }}
                        </div>
                    </div>
                </div>

            {% elif field|widget_type == 'numberinput' %}
                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ field.label_tag }}
                            {{ field | add_class:"form-control"}}
                            {{ field.errors }}
                        </div>
                    </div>
                </div>

            {% elif field|widget_type == 'checkboxinput' %}

                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ field }} {{ field.label }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ field.label_tag }}
                            {{ field | add_class:"form-control"  }}
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}