@require 'mixin'

/**
 * Commons styles for all site
 */
 
body, html
    height 100%
    font-size 16px
    font-family Arial,san-serif
    
body
    min-width 980px
    transition(0.2s ease-in-out)
    &.nav-open

        #nav-site
            left 0px
 
        #header-site
            #btn-nav
                position fixed
                
                .close
                    display block
                    
                .bars
                    display none
    
    
.wrapper
    padding 0 20px
    max-width 980px
    margin auto
    overflow hidden
    box-sizing(border-box)
    
.no-animate
    transition(all .0s ease-in-out !important)