/**
 * Commons styles for all site
 */
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: Arial, san-serif;
}
body {
  min-width: 980px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body.nav-open #nav-site {
  left: 0px;
}
body.nav-open #header-site #btn-nav {
  position: fixed;
}
body.nav-open #header-site #btn-nav .close {
  display: block;
}
body.nav-open #header-site #btn-nav .bars {
  display: none;
}
.wrapper {
  padding: 0 20px;
  max-width: 980px;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.no-animate {
  -webkit-transition: all 0s ease-in-out !important;
  -moz-transition: all 0s ease-in-out !important;
  -o-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
}
