@require 'mixin'
@require 'common'

#nav-site
    top 0
    left -240px
    position fixed
    width 240px
    background #424242
    height 100%
    z-index 1
    transition(0.2s ease-in-out)
    
    .title
        height 60px
        background #DF514C
        color #FFF
        text-transform uppercase
        font-weight 300
        font-size 1.3em
        padding 20px 65px
        box-sizing(border-box)
        
    ul
        margin 0px
        padding 10px 25px
        
        a
            display block
            padding 12px 0
            color #999
            text-decoration none
            text-transform uppercase
            font-size 0.9em
            
            &:hover
                color #FFF
        
    ul:first-of-type
        background #333
        
   
#header-site
    height 60px
    background #37B6CE

    .wrapper
        transition(0.2s ease-in-out)
        
    #btn-nav
        z-index 2
        cursor pointer
        width 60px
        height 60px
        background #DF514C
        position absolute
        left 0
        top 0
        
        i
            padding-top 14px
            text-align center
            color #FFF
            font-size 2em 
            
        .bars
            display block
            
        .close
            display none 
         
    .logo
        float left
        background-image url('../img/sprite.png')
        background-position 0px -92px
        width 230px
        height 40px
        margin 10px 0 10px
        
    .pet
        float left
        background-image url('../img/sprite.png')
        background-position 0px -136px
        width 91px
        height 60px
        margin 0 0 0 30px
            
    form
        float right
        background #FFF
        padding 4px
        margin 12px 14px
        border-radius(6px)
        box-sizing(border-box)

        input 
            border 0px
            color #015666
            padding 4px 8px
            width 200px
            
            &:focus
                outline-style none
                
        button
            border 0px
            background #FFF
            color #015666
            font-size 1.2em
            
            &:focus
                outline-style none
                
#content-site
    padding 10px 0 0 0
   
    h2
        title(1.4em, #DF514C)
        
    .game-list
        padding 0px
        overflow hidden
        
        li
            list-style-type none
            width 172px
            float left
            margin 0 8px 16px
        
        /*
        li
            list-style-type none
            width 140px
            float left
            margin 0 8px 16px
        */
        a
            display block
            border 1px #DDD solid
            width 100%
            overflow hidden
            text-decoration none
            font-size 0.8em
            color #777
            border-radius(4px)
            
            &:hover
                border-color #AAA
            img
                float left
                width 100%
                
            span
                clear both
                padding 6px 8px
                display block
                text-overflow: ellipsis
                white-space nowrap
                overflow hidden
