body,
html {
  height: 100%;
  font-size: 16px;
  font-family: Arial, san-serif;
}
body {
  min-width: 980px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body.nav-open #nav-site {
  left: 0px;
}
body.nav-open #header-site #btn-nav {
  position: fixed;
}
body.nav-open #header-site #btn-nav .close {
  display: block;
}
body.nav-open #header-site #btn-nav .bars {
  display: none;
}
.wrapper {
  padding: 0 20px;
  max-width: 980px;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.no-animate {
  -webkit-transition: all 0s ease-in-out !important;
  -moz-transition: all 0s ease-in-out !important;
  -o-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
}
#nav-site {
  top: 0;
  left: -240px;
  position: fixed;
  width: 240px;
  background: #424242;
  height: 100%;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#nav-site .title {
  height: 60px;
  background: #df514c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3em;
  padding: 20px 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#nav-site ul {
  margin: 0px;
  padding: 10px 25px;
}
#nav-site ul a {
  display: block;
  padding: 12px 0;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}
#nav-site ul a:hover {
  color: #fff;
}
#nav-site ul:first-of-type {
  background: #333;
}
#header-site {
  height: 60px;
  background: #37b6ce;
}
#header-site .wrapper {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#header-site #btn-nav {
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #df514c;
  position: absolute;
  left: 0;
  top: 0;
}
#header-site #btn-nav i {
  padding-top: 14px;
  text-align: center;
  color: #fff;
  font-size: 2em;
}
#header-site #btn-nav .bars {
  display: block;
}
#header-site #btn-nav .close {
  display: none;
}
#header-site .logo {
  float: left;
  background-image: url("../img/sprite.png");
  background-position: 0px -92px;
  width: 230px;
  height: 40px;
  margin: 10px 0 10px;
}
#header-site .pet {
  float: left;
  background-image: url("../img/sprite.png");
  background-position: 0px -136px;
  width: 91px;
  height: 60px;
  margin: 0 0 0 30px;
}
#header-site form {
  float: right;
  background: #fff;
  padding: 4px;
  margin: 12px 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#header-site form input {
  border: 0px;
  color: #015666;
  padding: 4px 8px;
  width: 200px;
}
#header-site form input:focus {
  outline-style: none;
}
#header-site form button {
  border: 0px;
  background: #fff;
  color: #015666;
  font-size: 1.2em;
}
#header-site form button:focus {
  outline-style: none;
}
#content-site {
  padding: 10px 0 0 0;
}
#content-site h2 {
  color: #df514c;
  font-size: 1.4em;
  font-weight: 300 !important;
  margin: 30px 0 20px;
  text-transform: uppercase;
}
#content-site .game-list {
  padding: 0px;
  overflow: hidden;
/*
        li
            list-style-type none
            width 140px
            float left
            margin 0 8px 16px
        */
}
#content-site .game-list li {
  list-style-type: none;
  width: 172px;
  float: left;
  margin: 0 8px 16px;
}
#content-site .game-list a {
  display: block;
  border: 1px #ddd solid;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  font-size: 0.8em;
  color: #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#content-site .game-list a:hover {
  border-color: #aaa;
}
#content-site .game-list a img {
  float: left;
  width: 100%;
}
#content-site .game-list a span {
  clear: both;
  padding: 6px 8px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
