/**
 * Mixins
 */
 
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

text-shadow()
    vendor('text-shadow', arguments)

box-shadow()
    vendor('box-shadow', arguments)

transition()
    vendor('transition', arguments)

transform()
    vendor('transform', arguments)

box-sizing()
    vendor('box-sizing', arguments)
    
border-radius()
    vendor('border-radius', arguments)
    
title(size, color)
    color color
    font-size size
    font-weight 300 !important
    margin 30px 0 20px
    text-transform uppercase