@media (max-width: 1500px) {
  body.nav-open {
    padding-left: 240px;
  }
}
@media (max-width: 1230px) {
  body.nav-open {
    overflow: hidden;
  }
}
@media (max-width: 1100px) {
  #header-site .wrapper {
    margin-left: 55px;
  }
  body.nav-open #header-site .wrapper {
    margin-left: auto;
  }
}
