{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head lang="es">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'base/lib/ionic/css/ionicons.min.css' %}" >
        <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/responsive.css' %}">

        <script src="{% static 'base/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>

    <body class="">

    	<nav id="nav-site">

            <div class="title">Categorias</div>

            <ul>
                <li><a href="">Populares</a></li>
                <li><a href="">Nuevos</a></li>
            </ul>

            <ul>
                <li><a href="">Chicas</a></li>
                <li><a href="">Accion</a></li>
                <li><a href="">Aventuras</a></li>
            </ul>

    	</nav>
        
        <header id="header-site">
            
            <div id="btn-nav">
                <i class="ion-navicon bars"></i>
                <i class="ion-android-close close"></i>
            </div>
            
            <div class="wrapper">
                <a href="" class="logo"></a>
                <div class="pet"></div>
                <form>
                    <input type="text" placeholder="Que juego buscas?" />
                    <button type="button"><i class="ion-search"></i></button>
                </form>
            </div>
        </header>

        <div id="content-site">
            <div class="wrapper">
                <h2>Juegos populares </h2>
                <ul class="game-list">
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game2.jpg' %}">
                            <span>Copa Toon: Superestrellas</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game3.jpg' %}">
                            <span>Bajoterra: Batalla</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game4.jpg' %}">
                            <span>Bob esponja: el detectivel detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game5.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game6.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game7.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game8.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game9.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game10.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    

                </ul>
                
                <h2>Juegos nuevos</h2>

               <ul class="game-list">
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game2.jpg' %}">
                            <span>Copa Toon: Superestrellas</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game3.jpg' %}">
                            <span>Bajoterra: Batalla</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game4.jpg' %}">
                            <span>Bob esponja: el detectivel detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game5.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game6.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game7.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game8.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game9.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game10.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game11.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game12.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>
                     
                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game.jpg' %}">
                            <span>Bob esponja: el detective</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game2.jpg' %}">
                            <span>Copa Toon: Superestrellas</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="{% static 'base/img/game3.jpg' %}">
                            <span>Bajoterra: Batalla</span>
                        </a>
                    </li>
                                       
                </ul>
            </div>
        </div>

        <script src="{% static 'base/js/vendor/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'base/js/plugins.js' %}"></script>
        <script src="{% static 'base/js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
